In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('../../Downloads/train.csv')
df_test = pd.read_csv('../../Downloads/test.csv')

In [3]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_train.shape

(891, 12)

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
s1 = df_train['Sex'].replace(to_replace='male', value=0)
s1.replace(to_replace='female', value=1)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

In [7]:
df_train['Sex'] = df_train['Sex'].map({'male':1, 'female':0})
df_test['Sex'] = df_test['Sex'].map({'male':1, 'female':0})

df_train['Embarked'] = df_train['Embarked'].map({'S':0, 'C':1, 'Q':2})
df_test['Embarked'] = df_test['Embarked'].map({'S':0, 'C':1, 'Q':2})

In [8]:
df_train['Embarked'].value_counts()

0.0    644
1.0    168
2.0     77
Name: Embarked, dtype: int64

In [9]:
df_train.corr()['Survived']

PassengerId   -0.005007
Survived       1.000000
Pclass        -0.338481
Sex           -0.543351
Age           -0.077221
SibSp         -0.035322
Parch          0.081629
Fare           0.257307
Embarked       0.108669
Name: Survived, dtype: float64

In [10]:
df_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
df_train['Age'].mean()

29.69911764705882

In [12]:
df_train.fillna(df_train['Age'].mean(), inplace= True)

In [13]:
df_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [14]:
df_test.fillna(df_train['Age'].mean(), inplace=True)
df_test.fillna(df_train['Fare'].mean(), inplace=True)

In [15]:
df_test.isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [16]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    int64
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    int64
dtypes: float64(2), int64(6), object(3)
memory usage: 36.0+ KB

In [17]:
df_train['isCabin'] = (~df_train['Cabin'].isna()).astype(int)

In [18]:
df_train.groupby('isCabin').mean()['Survived']

isCabin
1    0.383838
Name: Survived, dtype: float64

In [19]:
df_train['Title'] = df_train['Name'].apply(lambda name:name.split(',')[1].split('.')[0].strip())

In [20]:
df_train.groupby('Title').mean()['Survived']

Title
Capt            0.000000
Col             0.500000
Don             0.000000
Dr              0.428571
Jonkheer        0.000000
Lady            1.000000
Major           0.500000
Master          0.575000
Miss            0.697802
Mlle            1.000000
Mme             1.000000
Mr              0.156673
Mrs             0.792000
Ms              1.000000
Rev             0.000000
Sir             1.000000
the Countess    1.000000
Name: Survived, dtype: float64

In [21]:
df_train['Selected_Titles'] = df_train['Title'].apply(lambda title: title if title in ['Mr','Miss','Mrs','Master','Dr','Rev'] else 'other')

In [22]:
df_train.groupby('Selected_Titles').mean()['Survived']

Selected_Titles
Dr        0.428571
Master    0.575000
Miss      0.697802
Mr        0.156673
Mrs       0.792000
Rev       0.000000
other     0.642857
Name: Survived, dtype: float64

In [23]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PassengerId      891 non-null    int64
 1   Survived         891 non-null    int64
 2   Pclass           891 non-null    int64
 3   Name             891 non-null    object
 4   Sex              891 non-null    int64
 5   Age              891 non-null    float64
 6   SibSp            891 non-null    int64
 7   Parch            891 non-null    int64
 8   Ticket           891 non-null    object
 9   Fare             891 non-null    float64
 10  Cabin            891 non-null    object
 11  Embarked         891 non-null    float64
 12  isCabin          891 non-null    int32
 13  Title            891 non-null    object
 14  Selected_Titles  891 non-null    object
dtypes: float64(3), int32(1), int64(6), object(5)
memory usage: 101.1+ KB

In [24]:
X = df_train[['PassengerId','Pclass','Sex','Age', 'SibSp','Parch','Fare','Embarked']]
y = df_train['Survived']

In [25]:
# LogReg
from sklearn.linear_model import LogisticRegression

In [26]:
model1 = LogisticRegression()
model1.fit(X,y)

C:\Users\kulas\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [27]:
yp = model1.predict(df_test[['PassengerId','Pclass','Sex','Age', 'SibSp','Parch','Fare','Embarked']])
yp

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [28]:
model1.score(X, y)

0.8058361391694725

In [29]:
df_submission = pd.DataFrame({'PassengerId':df_test['PassengerId'], 'Survived':yp})

In [30]:
df_submission.to_csv('model_log.csv', index=False)

In [31]:
#KNN
from sklearn.neighbors import KNeighborsClassifier

In [32]:
model2 = KNeighborsClassifier(n_neighbors=5)
model2.fit(X,y)

KNeighborsClassifier()

In [33]:
model2.score(X,y)

0.755331088664422

In [34]:
df_submission = pd.DataFrame({'PassengerId':df_test['PassengerId'], 'Survived':yp})

In [35]:
df_submission.to_csv('model_knn.csv', index=False)

In [36]:
#SVM

from sklearn.svm import SVC

In [37]:
model_lin = SVC(kernel='linear')
model_lin.fit(X,y)

SVC(kernel='linear')

In [38]:
model_poly = SVC(kernel='poly')
model_poly.fit(X,y)

SVC(kernel='poly')

In [39]:
model_rbf = SVC(kernel='rbf')
model_rbf.fit(X,y)

SVC()

In [40]:
model_lin.score(X,y)

0.7946127946127947

In [41]:
model_poly.score(X,y)

0.654320987654321

In [42]:
model_rbf.score(X,y)

0.6644219977553311

In [43]:
#DT

In [44]:
from sklearn.tree import DecisionTreeClassifier

In [45]:
model3 = DecisionTreeClassifier(max_depth=5, min_samples_leaf=4)
model3.fit(X, y)

DecisionTreeClassifier(max_depth=5, min_samples_leaf=4)

In [46]:
depths = [1,2,3,4,5]
samples = [1,2,3,4]
for d in depths:
    for s in samples:
        model = DecisionTreeClassifier(max_depth=d, min_samples_leaf=s)
        model.fit(X,y)
        train_score = round(model.score(X,y),2)
        print('Depth:', d,'Samples at leaf:', s, 'Train Acc:',train_score)

Depth: 1 Samples at leaf: 1 Train Acc: 0.79
Depth: 1 Samples at leaf: 2 Train Acc: 0.79
Depth: 1 Samples at leaf: 3 Train Acc: 0.79
Depth: 1 Samples at leaf: 4 Train Acc: 0.79
Depth: 2 Samples at leaf: 1 Train Acc: 0.8
Depth: 2 Samples at leaf: 2 Train Acc: 0.8
Depth: 2 Samples at leaf: 3 Train Acc: 0.8
Depth: 2 Samples at leaf: 4 Train Acc: 0.8
Depth: 3 Samples at leaf: 1 Train Acc: 0.83
Depth: 3 Samples at leaf: 2 Train Acc: 0.83
Depth: 3 Samples at leaf: 3 Train Acc: 0.83
Depth: 3 Samples at leaf: 4 Train Acc: 0.83
Depth: 4 Samples at leaf: 1 Train Acc: 0.84
Depth: 4 Samples at leaf: 2 Train Acc: 0.84
Depth: 4 Samples at leaf: 3 Train Acc: 0.84
Depth: 4 Samples at leaf: 4 Train Acc: 0.84
Depth: 5 Samples at leaf: 1 Train Acc: 0.85
Depth: 5 Samples at leaf: 2 Train Acc: 0.85
Depth: 5 Samples at leaf: 3 Train Acc: 0.85
Depth: 5 Samples at leaf: 4 Train Acc: 0.85

In [47]:
model3.score(X,y)

0.8451178451178452

In [48]:
df_submission = pd.DataFrame({'PassengerId':df_test['PassengerId'], 'Survived':yp})

In [49]:
df_submission.to_csv('model_DT.csv', index=False)

In [50]:
# RF

from sklearn.ensemble import RandomForestClassifier

In [51]:
model = RandomForestClassifier(n_estimators=100)
model.fit(X,y)

RandomForestClassifier()

In [52]:
model.score(X,y)

1.0

In [53]:
dict1 = {'n_estimators':[10,25,50,75,100,150,200,300], 
         'max_depth':[1,2,3,4,5],
         'min_samples_leaf':[1,2,3,4,5],
         'min_samples_split':[2,3,4,5,6]}

In [54]:
from sklearn.model_selection import GridSearchCV

grid_cv1 = GridSearchCV(RandomForestClassifier(random_state=19), 
                       param_grid=dict1,cv=5,verbose=1, n_jobs=4)

In [55]:
yp = model.predict(df_test[['PassengerId','Pclass','Sex','Age', 'SibSp','Parch','Fare','Embarked']])

In [56]:
len(yp)

418

In [57]:
df_submission = pd.DataFrame({'PassengerId':df_test['PassengerId'], 'Survived':yp})

In [58]:
df_submission.to_csv('submission1937.csv', index=False)

In [59]:
import pickle

In [60]:
pickle.dump(model3, open('titanic_model.pkl', 'wb'))

In [62]:
load_model=pickle.load(open('titanic_model.pkl', 'rb'))